<div class="fixed_top">
	<!--<div class="col-sm-4">
	</div>-->
	<div class="col-sm-11">
		<div class="panel">
			<div class="text-center panel-heading">
				<h3>Forget Password</h3>
			</div>
			<div class="panel-body">
			  <form method="post" name="forgotPassword" ng-submit="forgetPass()" >
				
				  <div class="has-feedback form-group"
				   ng-class="{'has-error':forgotPassword.email.$dirty && forgotPassword.email.$invalid ,
				 'has-success':forgotPassword.email.$dirty && forgotPassword.email.$valid}">
				   <span class="form-control-feedback icon_briefcase"></span>
				   <input type="email" name="email" id="email" ng-model="email" class="form-control"
				   placeholder="Email" title="Email" autofocus required /> 
				   <div class="help-block text-danger" ng-messages="forgotPassword.email.$error"
				    ng-if='forgotPassword.email.$dirty'>
				      <div ng-message="required">Email is required</div>
				      <div ng-message="email">Email is not valid</div>
				   </div>
				</div>
				<button class='btn btn-block btn-primary btn-lg' type="submit" 
				ng-disabled="forgotPassword.$invalid">Reset Password</button>
			  </form>
			</div>
		</div>
	</div>
	<!--<div class="col-sm-4">
	</div>-->
</div>