<div class="fixed_top">
	<!--<div class="col-sm-4"></div>-->
	<div class="col-sm-11 col-md-11">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="text-center">Login</h3>
			</div>
			<div class="panel-body">
				<form method="post" name="loginForm" ng-submit="login()">
					<div class="has-feedback form-group" 
				     ng-class="{'has-error':loginForm.email.$dirty&&loginForm.email.$invalid,
				       'has-primary':loginForm.email.$dirty && loginForm.email.$valid}">
				        <span class="form-control-feedback icon_briefcase"></span>
				  		<input name="email" id="email" type="email" class="form-control" ng-model="email" 
				  		 placeholder="Email" title="Email" autofocus required/>
				  		 <div class="help-block text-danger" ng-messages="loginForm.email.$error"
				  		 ng-if="loginForm.email.$dirty">
				  		   <div ng-message="required">Email is required</div>
				  		   <div ng-message="email" >Email is not valid</div>
				  		 </div>
			        </div> 

			        <div class="has-feedback form-group" 
				     ng-class="{'has-error':loginForm.password.$dirty&&loginForm.password.$invalid,
				       'has-primary':loginForm.password.$dirty && loginForm.password.$valid}">
				        <span class="form-control-feedback icon_key_alt"></span>
				  		<input name="password" id="password" type="password" class="form-control " ng-model="password" 
				  		 placeholder="Password" title="Password" required/>
				  		 <div class="help-block text-danger" ng-messages="loginForm.password.$error"
				  		 ng-if="loginForm.password.$dirty">
				  		   <div ng-message="required">Password is required</div>
				  		 </div>
			        </div> 

			        <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-lg btn-block btn-primary" >
			        	Login</button><br>
			        	<p class="text-muted text-center">Forget your password ?<a ui-sref="home.forgetPassword">Reset your password</a></p>
				</form>
				
			</div>
		</div>
	</div>
	<!--<div class="col-sm-4"></div>-->
</div>